@using BlogEngine.Content

<h1><a href="@GetUrlFromFullSlug(Post.Id)">@Post.Title</a></h1>
<h5>@Post.Date.ToLocalTime()</h5>
@if (Post.Image != null)
{
    <img class="fakeimg" style="height:200px;" src="@Post.Image">
}
<MarkdownView Truncate="true" Content="@Post.Content"></MarkdownView>

<a class="btn gray" href="@GetUrlFromFullSlug(Post.Id)">Read more</a>

@functions {
    [Parameter]
    private Page Post { get; set; }

    static string GetUrlFromFullSlug(string path)
    {
        var parts = path.Split('-');
        return $"{parts[0]}/{parts[1].ToString().PadLeft(2, '0')}/{parts[2].ToString().PadLeft(2, '0')}/{string.Join("-", parts.Skip(3))}";
    }
}