@using BlogEngine.Content

<h1><a href="@Post.Id">@Post.Title</a></h1>
<h5>@Post.Date.ToLocalTime().ToShortDateString()</h5>
@if (Post.Image != null)
{
    <img class="fakeimg" style="height:200px;" src="@Post.Image">
}
<MarkdownView Truncate="true" Content="@Post.Content"></MarkdownView>

<br />

<a class="btn" href="@Post.Id">Read more</a>

<br />

@functions {
    [Parameter]
    private Page Post { get; set; }
}